/* * {
    padding: 0;
    margin: 0;
    font-family: roboto;
    line-height: 1, 4;

}


nav {
    width: 100%;
    height: 50px;
    padding: 10px;
    display: inline-block;
}

.container {
    padding: 16px;
}

.nav-navbar {

    width: 100%;
    background-color: cornflowerblue;
    color: aliceblue;
    text-align: center;
}

#logo {
    float: left;
    width: 4rem;
    height: 2.5rem;
}

.navbar a {
    padding: 10px;
    color: aliceblue;
    font-size: 30px;
    text-decoration: none;
}

.about {
    padding: 4.5rem 0;
}

.about-title h1 {
    font-size: 20px;
    line-height: 1.4;
    padding: 25px;
}

.search-input {
    font-family: var(--Roboto);
    font-size: 1.1rem;
    width: 100%;
    padding: 0.6rem 0;
    border: none;
}

.work {
    padding: 2.5rem 0;
}

.work h1 {
    font-size: 20px;
    line-height: 1.4;
    padding: 25px;
} */

/* background image */

* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}

img {
    width: 100%;
    display: block;
}

header {
    min-height: 100vh;
    background: url(/images/imgg.jfif) center/cover no-repeat fixed;
    width: 100%;
    justify-content: stretch;
}

.container {
    /* padding: 16px;
    font-size: 16px; */
    margin: 0 auto;
    padding: 16px;
}

nav li {
    display: inline;
    text-align: right;
}

.navbar-nav a {
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    color: #fff;
    padding: 16px;
    display: inline;

}


.navbar-title {
    color: #fff;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    text-align: left;

}

.nom {
    text-align: center;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}

.work-go {
    font-size: 20px;
    font-family: 'Playfair Display', serif;
    padding: 20px;


}

.contact-user h1 {
    text-align: center;
    font-size: 50px;
    animation:cubic-bezier(0.6, -0.28, 0.735, 0.045);
    margin: 2rem 0;
    font-family: 'Cinzel', serif;
}


.fish {
    background-image: url('http://www.geertjanhendriks.nl/codepen/form/fish.png');
    width: 235px;
    height: 104px;
    margin-left: -235px;
    position: absolute;
    animation: myfirst 24s;
    -webkit-animation: myfirst 24s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}

#fish {
    top: 120px;
}

#fish2 {
    top: 260px;
    animation-delay: 12s;
    -webkit-animation-delay: 12s;
}



#form {
    height: 100%;
    background-color: #98d4f3;
    overflow: hidden;
    position: relative;

}

form {
    margin: 0 auto;
    width: 500px;
    padding-top: 40px;
    color: white;
    position: relative;


}

label,
input,
textarea {
    display: block;
}

input,
textarea {
    width: 500px;
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    font-family: 'Sniglet', cursive;
    font-size: 1em;
    color: #676767;
    transition: border 0.5s;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    border: solid 3px #98d4f3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

input:focus,
textarea:focus {
    border: solid 3px #77bde0;
}

textarea {
    height: 100px;
    resize: none;
    overflow: auto;
}

input[type="submit"] {
    background-color: #F90;
    color: white;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
    font-size: 1.29em;
    font-family: 'Sniglet', cursive;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

input[type="submit"]:hover {
    background-color: #e58f0e;

}

label {
    font-size: 1.5em;
    margin-top: 20px;
    padding-left: 20px;
}

.formgroup,
.formgroup-active,
.formgroup-error {
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 10.5%;
    transition: background-image 0.7s;
    -webkit-transition: background-image 0.7s;
    -moz-transition: background-image 0.7s;
    -o-transition: background-image 0.7s;
    width: 566px;
    padding-top: 2px;
}

.formgroup {
    background-image: url('http://www.geertjanhendriks.nl/codepen/form/pixel.gif');
}

.formgroup-active {
    background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo.png');
}

.formgroup-error {
    background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo-error.png');
    color: red;
}

footer {
    background-color: darkslateblue;
    padding: 2rem 0;
    text-align: center;
    color: aliceblue;
}

.footer-user {
    height: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 1.4 rem;
}

.footer-user a {
    border: 2px solid #fff;
    color: #fff;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 0.3rem;
    transition: all 0.5s ease;

}

.footer-user a:hover {
    background-color: #fff;
    color: #676767;
}

.footer-ic li {
    display: inline;
    text-align: center;

}

.footer-ic a {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
}